
/* TOP BAR */

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.top_task_actions {
    display: flex;
    gap: 10px;
}

.navigation_controls button{
    margin-left: 4px;
}

/* ======================================================== */

/* MAIN LAYOUT */

.main_layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    position: relative;
}

.left_panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.work_button {
    height: 40px;
    width: 300px;
}

.message_container {
    border: 1px solid #ccc;
    width: 290px;  /* because there is the border and padding 300 - 2 - 8 */ 
    height: 90px;  /* because there is the border and padding 100 - 2 - 8 */
    padding: 4px;
    overflow-y: auto;
}

#canvas_wrapper {
    position: relative;
    width: 1200px;
    height: 780px;
}

#lower_canvas, #upper_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 780px;
}

#lower_canvas {
    z-index: 1;
}

#upper_canvas {
    z-index: 2;
}

#points_container {
    border: 1px solid #ccc;
    width: 278px;
    height: 758px;
    padding: 10px;
    overflow-y: auto;
}

#points_container {
    border: 1px solid #ccc;
    width: 278px;  /* because there is the border and padding 300 - 2 - 20*/
    height: 758px;  /* because there is the border and padding 780 - 2 - 20*/
    padding: 10px;
    overflow-y: auto;
}

/* ======================================================== */

/* POINTS CONTAINER */

#points_container {
    font-size: 14px;
}

.vanishing_point_x_item,
.vanishing_point_y_item,
.vanishing_point_z_item,
.label_point_item,
.construction_point_item,
.construction_line_item,
.bounding_box_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin-bottom: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #f4f4f4;
}


.controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
}

.controls button {
    margin: 0;
}

.icon_button {
    width: 28px;
    height: 28px;
}