<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <!-- default title is PPAT (Perspective Point Annotation Tool) -->
    <title>{% block title %}Perspective Point Annotation Tool{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- to avoid favicon.ico errore -->
    <link rel="icon" href="data:,">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">

    {% block head %}{% endblock %}
</head>
<body>

    <!-- header comune -->
    <header>
        <h1>Perspective Point Annotation Tool</h1>
        <div>
            <a>PPAT</a>
            <a href="{{ url_for('index') }}">Index</a>
            <a href="{{ url_for('guide') }}">Guide</a>
            <a href="{{ url_for('task') }}">Task</a>
        </div>
    </header>

    <hr>

    <!-- specific content-->
    <main>
        {% block content %}{% endblock %}
    </main>

    <hr>

    <!-- common footer -->
    <footer>
        <p>Made by GiovaSpine</p>
    </footer>

    <!-- common JS -->
    <script src="{{ url_for('static', filename='mainScript.js') }}"></script>

    <!-- specific JS -->
    {% block scripts %}{% endblock %}
</body>
</html>
