
{% extends "base.html" %}


<!-- ========================================================================== -->


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='taskStyle.css') }}">
{% endblock %}


<!-- ========================================================================== -->


{% block content %}

{% if not task_created %}
    <h2>Create a new task</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="number" name="npoints" min="1" max="100" value="1"><br>
        <input type="file" name="images[]" accept="image/*" multiple required><br>
        <button type="submit">Create</button>
    </form>
{% else %}

    <div class="top_bar">
        <button type="button" onclick="reset_view()">Reset View</button>

        <div class="controls">
            <button id="prev_button" onclick="prev_image()">⬅</button>
            <span id="counter">1 / {{ nimages }}</span>
            <button id="next_button" onclick="next_image()">➡</button>
        </div>

        <div class="top_task_actions">
            <form action="{{ url_for('delete_task') }}" method="GET">
                <button type="submit">Delete Task</button>
            </form>
            <form action="{{ url_for('export_task') }}" method="GET">
                <button type="submit">Export Task</button>
            </form>
        </div>
    </div>


    <div class="main_layout">
        <div class="left_panel">
            <button type="button" class="work_button" id="vp_x_button" onclick="add_vanishing_point('x')">Add Vanishing Point X</button>
            <button type="button" class="work_button" id="vp_y_button" onclick="add_vanishing_point('y')">Add Vanishing Point Y</button>
            <button type="button" class="work_button" id="vp_z_button" onclick="add_vanishing_point('z')">Add Vanishing Point Z</button>
            <button type="button" class="work_button" id="construction_button" onclick="add_point('construction')">Add Construction Point</button>
            <button type="button" class="work_button" id="label_button" onclick="add_point('label')">Add Label Point</button>
            <button type="button" class="work_button" id="bb_button" onclick="add_bounding_box()">Add Bounding Box</button>
            <div class="message_container">
                <p id="message"></p>
            </div>
        </div>

        <canvas id="canvas"></canvas>

        <div id="points_container"></div>
    </div>


    
{% endif %}

{% endblock %}


<!-- ========================================================================== -->


{% block scripts %}

{% if not task_created %}

{% else %}
    <script type="module" src="{{ url_for('static', filename='taskMain.js') }}"></script>
{% endif %}
   
{% endblock %}




