
{% extends "base.html" %}


<!-- ========================================================================== -->


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='task_style.css') }}">
{% endblock %}


<!-- ========================================================================== -->


{% block content %}

{% if not task_created %}
    <h2>Create a new task</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="number" name="npoints" min="1" max="100" value="1"><br>
        <input type="file" name="images[]" accept="image/*" multiple required><br>
        <button type="submit">Create</button>
    </form>
{% else %}
    <h2>Task</h2>

    <form action="{{ url_for('delete_task') }}" method="GET">
        <button type="submit">Delete Task</button>
    </form>

    <button type="button" onclick="reset_view()">Reset View</button>

    <div class="controls">
        <button onclick="prev_image()">⬅</button>
        <span id="counter">1 / {{ nimages }}</span>
        <button onclick="next_image()">➡</button>
    </div>

    <canvas id="canvas"></canvas><br>

    <button type="button" onclick="add_vanishing_point_x()">Add Vanishing Point X</button>
    <button type="button" onclick="add_vanishing_point_y()">Add Vanishing Point Y</button>
    <button type="button" onclick="add_vanishing_point_z()">Add Vanishing Point Z</button>
    <button type="button" onclick="add_construction_point()">Add Construction Point</button>
    <button type="button" onclick="add_label_point()">Add Label Point</button>

    
{% endif %}

{% endblock %}


<!-- ========================================================================== -->


{% block scripts %}

{% if not task_created %}

{% else %}
    <script type="module" src="{{ url_for('static', filename='taskMain.js') }}"></script>
{% endif %}
   
{% endblock %}




